#left-nav {
    height: 100%;
    background-color: #646464;
    position: fixed;
}

#left-margin {
    margin-top: 20%;
    margin-left: 15%;
}

#left-margin h1 {
    font-weight: 300;
    font-size: 30px;
    color: #ffffff;
}

#left-margin p {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 10%;
    color: #fcfcfc;
}
#left-margin ul li {
    display: block;
}

#left-margin h1 a {

    text-decoration: none;
    color: #ffffff;
}

#left-margin ul li a{
    font-weight: 300;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
}
#left-margin ul li a:hover {
    color: #c12e2a;
}
.article h2 {
    margin-right: 2%;
    margin-left: 2%;

}

.article h2 a {
    color: #222222;
}

.article a {
    text-decoration: none;
}

.article a:hover {
    color: #c12e2a;
}
.article ul {
    margin-right: 2%;
    margin-top: 15px;
}
.article p {
    margin-right: 2%;
    margin-left: 2%;
}

#signin-body {
    padding-top: 200px;
}

#my-jumbotron {
    padding: 0px 0px 10px 0px;
    margin-bottom: 25px;
}
#my-jumbotron p{
    font-size: 17px;
}

#right-header {
    padding-bottom: 25px;
}