ul {
    list-style: none;
    text-decoration: none;
}
#left-nav {
    border: 1px solid #333333;
    width: 300px;
    float: left;
}

#right-content {
    border: 1px solid #333333;
}

#footer {
    clear: both;
    margin: 0px auto;
    width: 300px;
}