#left-nav {
    width: 23%;
    height: 100%;
    position:fixed;
    background-color: #646464;
}

#right-content {
    position: absolute;
    right: 0px;
    min-height: 100%;
    width: 77%;
}

#footer {
    position: absolute;
    right: 0px;
    margin: 0px auto;
    width: 77%;
}